
.warning {
    background-color: var(--warning-color);
    color: var(--font-color);
}

.negative {
    background-color: var(--negative-color);
    color:var(--font-color)
}
.action {
    background-color: var(--action-color);
    color:var(--primary-color)
}

.form-input {
    background-color: var(--primary-color);
    color: var(--font-color);
    margin: 5px;
    display: block;
    padding:5px;
}