.primary {
    background-color: var(--primary-color);
    color: var(--font-color);
}

.secondary {
    background-color: var(--secondary-color);
    color: var(--font-color);
}

.tertiary {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}


.wrap {
    word-wrap: break-word;
}


.inline {
    display: inline-block;
}

.flex {
    display: flex;
}

.centered {
    align-content: center;
    justify-content: space-around;
}

.highlight {
    border-bottom: 3px solid var(--secondary-color);

}

.bordered {
    border: 2px solid;
    padding:5px;
    margin: 5px;
}



.fixed {
    display: inline-block;
    width: 60%;
}

.hide {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.block {
    display: block;
}
.bottom {
    bottom: 0;
}

.left {
    left: 0;
}

.inline-margin {
    padding: 15px;
}

.x-75 {
    width: 75%;
}