:root{
    --primary-color:#2d3241;
    --primary-light-color: #8195c4;
    --primary-dark-color: #3d3d5f;
    --secondary-color: #363668;
    --tertiary-color: #bfcfff;
    --font-color: #c7c7c7;
    --affirmative-color: #499146;
    --negative-color: #915f5f;
    --warning-color: #e2c29e;
    --action-color: #7c608a;
    --active-color: #563b64;

}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-size: 20px;
    border-radius: 5px;
}

#root {
    background-color: var(--primary-color);
    color: var(--font-color);
    /* margin-inline: 20px; */
}

/* #root * {
    border-radius: 5px;
} */

#content {
    margin-inline: 20px;
}

/* Dialog container styling */
dialog {
    /* width: 0;
    height: 0; */
    position:fixed;
    top: 50px;
    margin-inline:auto;
    transition: 5s;
    opacity: 0;
    background-color: var(--accent-color);
    color: var(--font-color);
}

dialog[open] {
    width: 90%;
    height:90%;
    opacity: 1;
    animation: fadeIn .25s normal forwards;   
}

dialog.fade[open] {
    animation: fadeOut .25s normal forwards;
}

dialog::backdrop {
    top:0;
    left:0;
    transition: 2s;
    background-color: rgba(50, 75, 100, .8);
}


