:root{
    --primary-color:#001247;
    --primary-light-color: #1245BA;
    --primary-dark-color: #000066;
    --secondary-color: #000066;
    --tertiary-color: #bfcfff;
    --font-color: #FDF7FA;
    --affirmative-color: #188814;
    --negative-color: #881414;
    --warning-color: #ec8917;
    --action-color: #eeff00;

}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-size: 14px;
}

#root {
    background-color: var(--primary-color);
    color: var(--font-color);
    /* margin-inline: 20px; */
}

#root * {
    border-radius: 5px;
}

#content {
    margin-inline: 20px;
}

/* Dialog container styling */
dialog {
    /* width: 0;
    height: 0; */
    position:fixed;
    top: 50px;
    margin-inline:auto;
    transition: 5s;
    opacity: 0;
    background-color: var(--accent-color);
    color: var(--font-color);
}

dialog[open] {
    width: 90%;
    height:90%;
    opacity: 1;
    animation: fadeIn .25s normal forwards;   
}

dialog.fade[open] {
    animation: fadeOut .25s normal forwards;
}

dialog::backdrop {
    top:0;
    left:0;
    transition: 2s;
    background-color: rgba(50, 75, 100, .8);
}


