a {
    /* all:unset; */
    cursor: pointer;
}

a, button, input, select, option, textarea {
    all:unset;
    border-radius: 5px;
}

input:focus, select:focus, option:focus, textarea:focus {
    background-color: var(--active-color);
}

select, option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    padding:0 10px;
}

select::-ms-expand {
    display: none;
}
option {
    background-color: var(--primary-color);
    padding:10px;
}
html {
    
    margin:0;
    
}

body {
    background-color: var(--primary-color);
    /* display: flex; */
    /* flex-direction: column; */
}

button {
    appearance:none;
    display: inline-block;
    margin:5px
}

ul {
    list-style-type: none;
    /* display: inline-block; */
    /* margin-block: 0; */

}
li {
    /* all:unset; */
    display: block;
    margin-top: 10px;
}

input {
    /* all:unset;   */
    padding:5px 5px;
    margin: 2px 5px;
}

form {
    margin: 5px;

}

textarea {
    /* all:unset; */
    width:100%;
}

textarea:invalid {
    border: red;
    background-color: var(--negative-color);
}
