:root{
    --primary-color:#161b22;
    --primary-light-color: #8195c4;
    --primary-dark-color: #3d3d5f;
    --secondary-color: #1F2328;
    --tertiary-color: #0c2d6b;
    --font-color: #c7c4c4;
    --affirmative-color: #3a9633d3;
    --negative-color: #521313;
    --warning-color: #e2c29e;
    --action-color: #2b2557;
    --active-color: #293542;
    
    --margin: 20px;
    
    --shadow: 1px 1px 2px rgb(48, 54, 61)  ;
    
}
