:root{
    --primary-color:#21242b;
    --primary-light-color: #8195c4;
    --primary-dark-color: #3d3d5f;
    --secondary-color: #2c2c3d;
    --tertiary-color: #35434b;
    --font-color: #a3a2a2;
    --affirmative-color: #093607;
    --negative-color: #521313;
    --warning-color: #e2c29e;
    --action-color: #1d193b;
    --active-color: #293542;
    
    --margin: 10px;
}
